target
project/target
project/project/target
*.log
.vagrant/**
sv-benchmarks/**
results/**
smtinterpol.jar
.DS_Store
skink.jar
witness_checks
.tag*
*.dot
src/test/resources/citests/*.ll
src/test/resources/llvm/*.ll
*.png
