<configuration>

    <contextName>Skink</contextName>

    <property name="DEFAULT_PATTERN" value="%d{HH:mm:ss} %-5level %logger{50} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="SKINKFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/Skink.log</file>
        <append>false</append>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="CFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/C.log</file>
        <append>false</append>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <appender name="IMLFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/IML.log</file>
        <append>false</append>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <appender name="LLVMFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/LLVM.log</file>
        <append>false</append>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ITPFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/interpolantAuto.log</file>
        <append>false</append>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ITPAUTOFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/interpolantAuto.dot</file>
        <append>false</append>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <appender name="CFGFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/CFG.dot</file>
        <append>false</append>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <appender name="CFGSPLITFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/SplitCFG.dot</file>
        <append>false</append>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <appender name="EXPECTFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/expect.log</file>
        <append>false</append>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="OFF">
        <appender-ref ref="SKINKFILE"/>
    </root>

    <logger name="au.edu.mq.comp.skink" level="OFF"/>

    <logger name="au.edu.mq.comp.skink.c" level="INHERITED"/>
    <logger name="au.edu.mq.comp.skink.c.CFrontend" level="INHERITED" additivity="false">
        <appender-ref ref="CFILE"/>
    </logger>
    <logger name="au.edu.mq.comp.skink.c.CFrontend.program" level="INHERITED" additivity="false">
        <appender-ref ref="CFILE"/>
    </logger>

    <logger name="au.edu.mq.comp.skink.iml" level="INHERITED"/>
    <logger name="au.edu.mq.comp.skink.iml.IMLFrontend" level="INHERITED"/>
    <logger name="au.edu.mq.comp.skink.iml.IMLFrontend.program" level="INHERITED" additivity="false">
        <appender-ref ref="IMLFILE"/>
    </logger>

    <logger name="au.edu.mq.comp.skink.verifier" level="INHERITED"/>

    <logger name="au.edu.mq.comp.skink.verifier.TraceRefinement" level="DEBUG"/>
    <logger name="au.edu.mq.comp.skink.verifier.TraceRefinement.cfg" level="INHERITED" additivity="false">
        <appender-ref ref="CFGFILE"/>
    </logger>

    <logger name="au.edu.mq.comp.skink.verifier.Verifier" level=""/>

    <logger name="au.edu.mq.comp.skink.verifier.Witnesses" level="INHERITED"/>

    <logger name="au.edu.mq.comp.skink.ir.llvm" level="INHERITED"/>
    <logger name="au.edu.mq.comp.skink.ir.llvm.LLVMTermBuilder" level="DEBUG"/>
    <logger name="au.edu.mq.comp.skink.ir.llvm.LLVMMTFunctionNamer" level="DEBUG"/>
    <logger name="au.edu.mq.comp.skink.ir.llvm.LLVMFrontend" level="INHERITED"/>
    <logger name="au.edu.mq.comp.skink.ir.llvm.LLVMFrontend.program" level="INHERITED" additivity="false">
        <appender-ref ref="LLVMFILE"/>
    </logger>
    <logger name="au.edu.mq.comp.skink.ir.llvm.LLVMIR" level="DEBUG">
      <appender-ref ref="LLVMFILE"/>
    </logger>
    <logger name="au.edu.mq.comp.skink.ir.llvm.LLVMIR.cfg" level="DEBUG" additivity="false">
      <appender-ref ref="CFGSPLITFILE"/>
    </logger>
    <logger name="au.edu.mq.comp.skink.ir.llvm.LLVMFunction" level="INHERITED"/>
    <logger name="au.edu.mq.comp.skink.ir.llvm.LLVMFunction.program" level="INHERITED" additivity="false">
        <appender-ref ref="LLVMFILE"/>
    </logger>
    <logger name="au.edu.mq.comp.skink.ir.llvm.LLVMFunction.checkpost" level="INHERITED" additivity="false">
        <appender-ref ref="ITPFILE"/>
    </logger>
    <logger name="au.edu.mq.comp.skink.ir.llvm.LLVMFunction.itp" level="INHERITED" additivity="false">
        <appender-ref ref="ITPFILE"/>
    </logger>
    <logger name="au.edu.mq.comp.skink.verifier.interpolant" level="INHERITED" additivity="false">
        <appender-ref ref="ITPFILE"/>
    </logger>
    <logger name="au.edu.mq.comp.skink.verifier.interpolant.InterpolantAuto$.dot" level="INHERITED" additivity="false">
        <appender-ref ref="ITPAUTOFILE"/>
    </logger>

    <logger name="org.bitbucket.franck44.expect" level="INHERITED" additivity="false">
        <appender-ref ref="EXPECTFILE"/>
    </logger>

    <logger name="org.bitbucket.franck44.scalasmt.typedterms" level="INHERITED" additivity="false">
        <appender-ref ref="SKINKFILE"/>
    </logger>

</configuration>
